Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www.gracems.net$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^gracems.net$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.graceforgrenada.org$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^graceforgrenada.com$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.graceforgrenada.net$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^graceforgrenada.net$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.graceforgrenada.com$ [NC]
RewriteRule ^(.*)$ http://graceforgrenada.org/$1 [R=301,L]
