<!-- Start Contact Area -->
<section class="contact-area">
  <div class="container fullwidth no-padding">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-address text-center">
          <h6>Worship with us</h6>
          <p>
            <i class="fa fa-clock-o" aria-hidden="true"></i><br/>
            Sunday School - 9:45am<br/>
            Sunday Worship - 11:00am<br/><br/>
            Wednesday Night Bible Study - 6:00pm
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-address text-center">
          <h6 class="mb-10">Where we worship</h6>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i><br/>
            2150 Country Club Rd, Grenada, MS 38901
          </p>
          <div id="map" style="width:auto;height:200px;"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-address text-center">
          <h6>Stay Updated</h6>
          <p>
            <i class="fa fa-bell" aria-hidden="true"></i>
            <br/>
            <div class="mb-3">
              Sign up to receive occasional email or text updates about
              important events and notices at Grace Pres.
            </div>
            <form
            method="post"
            action="https://app.flocknote.com/group/204832/addToGroupFromOutside"
            target="_blank"
            class="needs-validation">
              <div class="form-group">
                <input type="text" class="form-control" name="fname" placeholder="First Name" required/>
                <input type="text" class="form-control" name="lname" placeholder="Last Name" required/>
                <input type="tel" class="form-control was-validated" name="mobile_phone" placeholder="Mobile Phone"/>
                <input type="email" class="form-control mb-3" name="email" placeholder="Email Address (Optional)"/>
                <button type="submit" class="btn btn-primary" value="submit">Sign Me Up</button>
              </div>
            </form>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-address text-center">
          <h6>Contact us</h6>
          <p>
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
            <br/>
            <a href="tel:+16622193727">(662) 219-3727</a>
            <br/>
            <a href="mailto:gracepcagrenada@gmail.com">gracepcagrenada@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->

<!-- Strat Footer Area -->
<footer class="section-gap footer-widget-area">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="subscription-area">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <p class="text-white text-center">
            We would love to have you and your family visit us on Sunday
            mornings.<br/>
            Nothing fancy, just real worship.<br/>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
      <p class="footer-text m-0">&copy;2018 Grace Presbyterian Church Grenada</p>
      <div class="footer-social d-flex align-items-center">
        <span class="text-white">To keep up with the latest newst, follow us on Facebook&nbsp;</span>
        <a href="https://www.facebook.com/graceforgrenada"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwFaaJ__IFDq0udKM7z-Un438Jm_EYpIs&callback=myMap"></script>
