
.main-logo {
  height: auto;
  width: 20%;
}

.link-white {
  color: rgba($white, 0.7);
}

.link-white:hover {
  color: white;
}

.link-white:visited {
  color: rgba($white, 0.5);
}

.header-logo {
  height: auto;
  width: 40%;
}

.header-logo-larger {
  height: auto;
  width: 60%;
}

.ministry-page-video {
  padding: 100px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.ministry-page-video a {
  display: inline-block;
  margin-bottom: 20px;
}

.you-are-here {
  color: $primary-color;
}

.padding-top-75 {
  padding: 75px 0px;
}

.ie-compatibility {
  color: white;
  font-size: 25pt;
  margin-top: 50px;
  line-height: 30pt;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $primary-color url(../img/cd-top-arrow.svg) no-repeat center 50%;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  z-index: 99999;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: lighten($primary-color, 15%);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
